.headerContainer {
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.headerContent {
  width: 100%;
  max-width: 44rem;
  padding: 0 1.25rem;

  img {
    margin: auto;
  }
}